html {
  box-sizing: border-box;
}

.accom {
  background-color: lightgrey;
  border-radius: 15px;
  padding: 10px;
}

.accom-card-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.accom-card {
  background-color: blue;
  border-radius: 15px;
  width: 25%;
  padding: 5px;
  margin-bottom: 20px;
}

.accom-img {
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.accom-price {
  font-weight: 700;
}
